# Copier en godot.env (gitignored) ou exporter dans le shell :
#   $env:GODOT_BIN = "C:\Users\tom\Downloads\Godot_v4.6.3-stable_win64.exe"

GODOT_BIN=C:\Users\tom\Downloads\Godot_v4.6.3-stable_win64.exe\Godot_v4.6.3-stable_win64_console.exe
